@using Isen.DotNet.Library.Models.Implementation;
@{
    ViewData["Title"] = "Villes";
}
@model IEnumerable<City>

<div class="row">
    <div class="col-md-12">
        <h1>Villes <small>/city/index</small></h1>
    </div>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Département</th>
                <th>Nombre de POI</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Population</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var city in Model)
            {
            <tr>
                <td>@city.Id</td>
                <td>@city.Name</td>
                <td>@city.Department?.Number</td>
                <td>@city.AddressCount</td>
                <td>@city.Latitude</td>
                <td>@city.Longitude</td>
                <td>@city.PersonCount</td>
            </tr>
            }
        </tbody>
    </table>
</div>